@charset "UTF-8";
/* デスクトップPC用CSS */

.hidden-sp {
	display:inherit !important;
}
.hidden-pc {
	display:none !important;
}

#wrapper.bg #header {
    z-index:3;
    position: relative;
}
#wrapper.bg:before {
    content:"";
    display:block;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0,0,0,0.60);
    transition: all 0.2s linear;
    z-index:2;
}
#gnav {
    border-top:1px solid #f0f0f0;
    background-color: #64493F;
    padding:0 3em 2em;
    display: none;
    width:480px;
}
#gnav .ddmenu {
    width:100%;
}
#gnav .ddmenu li {
    border-bottom:1px solid #B2A5A0;
}
#gnav .ddmenu li a {
    color:#fff;
    text-decoration: none;
    font-size:2.2rem;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    display: block;
    padding:0.6em 0;
}
#gnav .ddmenu li a:hover {
}
#gnav .ddmenu li a span {
    font-size:1.2rem;
    font-weight:normal;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0;
    display: inline-block;
    padding-left:1em;
}


#gnav .sns-links {
    width:100%;
    float:none;
    padding:4% 10% 7%;
    border:0px;
    position: relative;
    background-color: #fff;
    margin: 2em 0 0;
}
#gnav .sns-title {
    position: static;
    font-weight: bold;
    text-align: center;
    font-size:2.5rem;
    top:inherit;
    left:inherit;
	-webkit-transform: translate(0%, 0%);
	-moz-transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);
	-o-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
    display: block;
    background-color: #fff;
    padding:0 0 0.6em;
}
#gnav .sns-links li {
    float:left;
    width:22.75%;
}
#gnav .sns-links li ~ li {
    margin-left: 3%;
}


#header #menu-btn {
    background-color: #EFEBEA;
    width:56px;
    padding:12px;
}

#header.gnav-open #menu-btn span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
}

